<html ng-app="feed">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->

<script src="js/angular.min.js"></script>
<script src="js/jquery-1.11.3.js"></script>
<script src="js/app.js"></script>

</head>

<body>

<div class="container" ng-controller="getdata">




<div id="page-wrapper">

            <div class="container-fluid">
			
			
			
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Home
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
				
				
				<div class="panel panel-default column col-sm-8">
										
										<div class="panel-body">
										  <p class="lead">Post</p>
										  <p>45 Followers, 13 Posts</p>
										  
										 
										</div>
									  </div>
				</div>

                
</div>

	
<ul>
	<li ng-repeat="item in data">{{item.name}}</li>

</ul>
Name: <input type="text" ng-model="name"/>
{{ name }}
{{data}}


	
</div>





</div>



</body>




</html>
